
@import url('https://fonts.googleapis.com/css?family=PT+Serif');


body {
    font-family: 'PT Serif', serif;
    background: #fafafa;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    ESTILO BARRA
----------------------------------------------------- */
#barra {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #404B69;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}


#barra.active {
    left: 0;
}

/* Despliegue lista extensiones */
ul#lista li:hover > ul
{
    /*Los siguientes 2 estilos son los mas importantes para el efecto*/
    visibility:visible;
    opacity:1;
}

ul#lista ul, ul#lista ul li ul {
    margin: 0;
    padding: 0;
    /*mantienen escondido el menu*/
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    box-shadow:1px 1px 3px #ccc;
    /* Efectos con css3 de apertura*/
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}

#esconder{
    background-color: #404B69 ;
}

#quitar {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #283149;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#quitar:hover {
    background: #fff;
    color: #283149;
}

.oscurecer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#barra .barra-header {
    padding: 20px;
    background: #404B69;
}

#barra ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#barra ul p {
    color: #fff;
    padding: 10px;
}

#barra ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#barra ul li a:hover {
    color: #404B69;
    background: #fff;
}

#barra ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #283149;
}

#barra p{
    color: red;
}

#barra ul{
    list-style-type: none;
}

#barra ul ul {
    list-style-type: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #404B69;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#tituloCentral{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}
article{
  background-color: #94C9A9;
  color: #41455C;

}
header{
  background-color: #2E1F27;
  color: #94C9A9;
}


/* ---------------------------------------------------
   Estilo del contenido
----------------------------------------------------- */
#contenido {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.extension h2{
    font-size: 50px;
}

.extension img{
    float: right;
    height: 60px;
    width: 60px;
}

textarea{
    width: 350px;
    height: 200px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #2E1F27;
    color: #DC4D53;
    padding: 15px;
}

.blanco{
	color: white;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
}

/*Footer css*/

#myFooter {
    background-color: #283149 ;
    color:white;
}

#myFooter .footer-copyright{
    background-color: #283149;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}

#myFooter .footer-copyright p{
    margin:10px;
    color: #ccc;
}

#myFooter ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
    color:#d2d1d1;
    text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
    text-decoration: none;
    color:white;
}

#myFooter .myCols{
    text-align: center;
}

#myFooter .social-networks{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
    text-decoration: none;

}

#myFooter .facebook:hover{
    color:#3b5998;
}

#myFooter .google:hover{
    color:#ef1a1a;
}

#myFooter .twitter:hover{
    color: #00aced;
}


@media screen and (max-width: 767px){
    #myFooter {
        text-align: center;
    }
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
      height:auto;
    }
    #donar{
        height: 90px;
        width: 300px;
    }
	#ocultar{
		color:black;
	}
}
